.user {
    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #4f4242;
    border-radius: 10px;
    grid-gap: 10px;
}

.user img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
