.postsBlock {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.head {
    grid-row: 1 / 2;
}

.newPost {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: start;
}

.posts {
    grid-row: 3 / 4;
    display: grid;
    padding: 10px;
    grid-row-gap: 10px;
}
