.header {
	grid-area: header;
	background-color: aquamarine;
	display: grid;
	grid-template-columns: 100px 200px;
}

.header img {
	width: 60px;
}

.loginBlock {
	justify-self: end;
	align-self: center;
}

.loginBlock a {
	color: black;
	text-decoration: none;
}
