.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog img{
    text-decoration: none;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;

}

.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    
}
