.dialogsItems {
    /*display: grid;*/
    /*grid-template-columns: 1fr 2fr;*/
    /*padding: 10px;*/
    /*align-items: center;*/
    /*text-decoration: none;*/

    display: grid;
    grid-template-columns: 100px 100px;
    align-items: center;
    padding: 10px;
    border: 1px solid #4f4242;
    border-radius: 10px;
    grid-gap: 10px;

}

.dialogsItems img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.active {
    color: gold;
}
