/* Добавляем стили для контейнера формы */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Добавляем отступ между полями формы */
.div {
    margin-bottom: 3px;
}

/* Добавляем стили для кнопки */
.formContainer button {
    margin-top: 10px; /* Регулируйте этот отступ в зависимости от ваших предпочтений */
}

/* Добавляем стили для изображения капчи */
.formContainer img {
    margin-top: 10px; /* Регулируйте этот отступ в зависимости от ваших предпочтений */
}

/* Добавляем стили для дополнительного сообщения об ошибке */
.formSummaryError {
    border: solid red 2px;
    color: #1c0202;
    padding: 5px;
    margin-top: 10px; /* Регулируйте этот отступ в зависимости от ваших предпочтений */
}
